h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

* {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    line-height: 1.25;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        margin-right: 24px;
        padding: 5px 0;
        list-style: none;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: #fff;
    }
}

.social {
    display: flex;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin-right: 18px;
        border-radius: 50%;
        font-size: 14px;
        text-decoration: none;
        background-color: #fff;
        color: #8253D8;
        &:last-child {
            margin-right: 0;
        }
        &_big {
            width: 50px;
            height: 50px;
            font-size: 22px;
        }
    }
}

.title {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.main {
    background: url("/img/header-bg.svg") 0 0 / 100% 100% no-repeat;
}

.contacts {
    &__item {
        display: block;
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__email {
        color: #fff;
        text-decoration: none;
    }
    &__phone {
        color: #fff;
        text-decoration: none;
    }
}